.banner{
   position: relative;
   width: 100%;
   height: 140px;
   overflow: hidden;

   img{
      width: 150%;
      position: absolute;
      transition: transform 200ms linear;
      filter: opacity(.5);
   }

   &_curtain{
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: inset 0 18px 41px 0 $background-color;
      background: linear-gradient(to top, $background-color 0%, rgba(0,212,255,0) 100%);
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 5px;
      color: $main-color;
      font-family: $font;

      display: flex;
      justify-content: center;
      align-items: center;
   }
}