.banner{
   position: relative;
   width: 100vw;
   height: 140px;
   margin: 0 auto;
   perspective: 1000px;

   &_carousel{
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateZ(-180px);
      transform-style: preserve-3d;
      transition: transform 1s;

      &_section{
         position: absolute;
         width: 100%;
         height: 100%;
         line-height: 116px;
         font-size: 80px;
         font-weight: bold;
         color: white;
         text-align: center;
         transition: transform 1s, opacity 1s;

         &:nth-of-type(1){
            transform: rotateY(0deg) translateZ(180px);
         }
         &:nth-of-type(2){
            transform: rotateY(120deg) translateZ(180px);
         }
         &:nth-of-type(3){
            transform: rotateY(240deg) translateZ(180px);
         }
      }
   }
}