.date{

  transform: translateY(-55px);
  &_holder {

    .day{
      border: none;
      outline: none;
      padding: 10px;
      text-align: center;
      font-family: $font;
      font-weight: 800;
      cursor: pointer;
      color: $main-color;
      background-color: $background-color;
      appearance: none;

      &_option{
        font-weight: 800;
        background-color: $background-color;
        padding: 5px;
      }
    }
  }
}