.date{

  transform: translateY(-55px);
  &_holder {

    input[list='dates']{
      border: none;
      outline: none;
      padding: 10px;
      text-align: center;
      font-family: $font;
    }
  }
}