.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  overflow: auto;
  border-bottom: 1px dashed white;

  &_close{
    position: absolute;
    top: 10px;
    left: 10px;
    width:  30px;
    height: 30px;
    border-radius: 50%;
    font-family: $font;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &_banner{
    width: 100%;
    border-bottom: 1px dashed white;
  }

  &_poster{
    display: none;
  }

  &_info{
    color: white;
    font-family: $font;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px dashed white;
    padding: 0 10px;

    &_title{
      margin: 15px 0;
      line-height: 1.2rem;
    }
  }

  &_performance{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
    color: white;
    font-family: $font;
    font-weight: bold;

    &_day{
      flex: 1 1 100%;
      font-size: .6rem;
      padding-bottom: 15px;
      cursor: default;


      .hours{
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        .hour{
          padding: 5px 10px;
          margin: 5px;
          color: black;
          background-color: white;
          transition: transform .2s ease;
          transform: skewX(-20deg);
          cursor: pointer;
          border: none;
          font-family: $font;
          font-weight: bold;

          span{
            display: inline-block;
            transform: skewX(20deg);
          }

          &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 100%;
            background-color: black;
            opacity: 0;
            z-index: -1;
            transition: all .5s ease;
          }

          &:hover{
            transform: scale(1.1) skewX(-20deg);
            color: white;
            &:before{
              left: 0;
              right: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}