.movies{
  transform: translateY(-30px);
  flex-direction: column;

  .movie{
    width: 80%;
    margin-bottom: 30px;
    height: 305px;
    box-shadow: 0 0 50px -30px $main-color;
    border-radius: 10px;
    overflow-y: hidden;
    color: white;

    &:last-of-type{
      margin-bottom: 0;
    }

    &_poster{
      width: 100%;
    }

    &_description{
      text-align: center;
      background-color: $main-hover-color;
      padding: 5px;
      border-radius: 20px 20px 0 0;
    }
  }
}