.search{
  transform: translate(-5px,-55px);

  .searching {
      position: relative;

    &_input {
      border: 2px solid $main-color;
      outline: none;
      padding: 5px;
      border-radius: 10px;
      height: 25px;
      font-family: $font;
    }

    &_button{
      position: absolute;
      right: 0;
      top: 0;
      border: 2px solid $main-color;
      outline: none;
      background-color: $main-color;
      height: 25px;
      border-radius: 0 10px 10px 0;
    }
  }
}