$tablet-width: 768px;
$desktop-width: 1024px;

//colors

$main-color: #950740;
$background-color: #000;
$accent-color: #4e4450;
$main-hover-color: #6f2232;
$bonus-color: #c3073f;

//fonts

$font: cursive, sans-serif;